/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Commissioner", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190vh;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

label {
    font-size: 17px;
    margin: 10px 0;
}

#senha {
    margin-bottom: 20px;
    padding: 15px 25px;
    border: 1px solid #a4a4a4;
    border-radius: 7px;
    height: 160px;
    padding: 8px;
    font-size: 16px;
    /* width: 400px; */
}

#btnGerar {
    background-color: #29618f;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    width: 400px;
    height: 60px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.2s;
}

#btnGerar:hover {
    background-color: #224d71;
    color: white;
    /* background-color: #153f60; */
}

strong {
    color: #000;
    margin-right: 5px;
}

#hash:hover {
    color: #4c82af;
    cursor: pointer;
    /* background-color: #f0f0f0; */
}

p {
    font-size: 17px;
    font-weight: 300;
    color: #000000ce;
    margin-bottom: 5px;
}

span {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.MD5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;
}